{% extends "base.html" %}

{% block content %}
<div class="hero-unit">
  <h1>Geoscience Content Models</h1>
  <p>Get faster results. Common data formats means less time munging data and more time doing science. This is geoscientific data sharing, simplified.</p>
  <p><a class="btn btn-primary btn-large" href="http://usgin.org">Learn more &raquo;</a></p>
</div>
<div class="row">
  <div class="span4">
    <h2>Content Models</h2>
    <p>We all spend too much time reformatting data and not enough time doing meaningful analysis. By using common content models to share information, we can be sure that other people will understand our data as we meant it to be understood.</p>
    <p><a class="btn btn-info" href="/models/">View model details &raquo;</a></p>
  </div>
  <div class="span4">
    <h2>WFS Validator</h2>
    <p>At USGIN, we focus on data sharing through Web-Feature Services. You can use this tool to check and see that your WFS conforms to the content model that you intend it to, and then feel good knowing that you're making other scienteists happier.</p>
    <p><a class="btn btn-info" href="/validate/wfs">Validate a WFS &raquo;</a></p>
 </div>
  <div class="span4">
    <h2>Recently...</h2>
    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <th>Date</th>
          <th>Model Name</th>
          <th>Version</th>
      </thead>
      <tbody>
        {% for cm in recent_models %}
        <tr>          
          <td>{{ cm.date_updated }}</td>
          <td><a href="/models/#{{ cm.label }}">{{ cm.title }}</td>
          <td>{{ cm.latest_version_number }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}